/* 首页文章字体缩放（仅在桌面浏览器启用） */
@media only screen and (min-width: 768px) {
    #recent-posts>.recent-post-item:hover .recent-post-info .content {
        opacity: 1;
        line-height: 2;
        transition: all .3s;
    }

    #recent-posts>.recent-post-item>.recent-post-info>.content {
        opacity: 0;
        line-height: .7;
        transition: all .3s;
    }
}

@media only screen and (max-width: 767px) {
    #recent-posts>.recent-post-item>.recent-post-info>.content {
        opacity: 0;
        line-height: .7;
        transition: all .3s;
    }
}

/* 首页文章图片缩放 */
#recent-posts>.recent-post-item .post_cover img.post_bg {
    border-radius: 30px;
    padding: 15px
}

#recent-posts>.recent-post-item:hover img.post_bg {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

/* 文章目录栏美化 */
#aside-content #card-toc .toc-content .toc-link.active {
    border-left-color: #49b1f5;
    background: var(--btn-bg);
    border-radius: 7px;
    box-shadow: 0 8px 12px -3px rgba(73, 177, 245, 0.2);
}

/* 侧边栏的条目选择美化 */
.card-category-list-link:hover,
.card-archive-list-link:hover {
    background-color: #49b1f5;
    border-radius: 7px;
}


/* 关闭头像旋转 */
.avatar-img img {
    transform: none !important;
}
